<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% if pretitle %}{{ pretitle|raw }} &bull; {% endif %}Scheggia impazzita Giko{% endblock %}</title>

    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block description %}Un blog su web e tchoukball{% endblock %}" />
    <meta name="keywords" content="scheggia impazzita, giacomo zinetti, giko, blog, web, tchoukball{% block extrakeywords %}{% endblock %}" />
    <meta name="author" content="Giacomo Giko Zinetti">
    <meta property="og:site_name" content="Scheggia impazzita Giko" />
    <meta property="og:image" content="http://www.giko.it{{ STATIC_URL }}img/{{ mainimg }}.png" />
    <meta property="og:title" content="{% block ogtitle %}{% if pretitle %}{{ pretitle|raw }} &bull; {% endif %}Scheggia impazzita Giko{% endblock %}" />
    <meta property="og:description" content="{% block ogdescription %}Un blog su web e tchoukball{% endblock %}" />

    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon-profilo.jpg" type="image/png" />
    <link rel="icon" href="{{ STATIC_URL }}img/favicon-profilo.jpg" type="image/png" />

    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/giko.css" />

    {% block extra_head %}
    {% endblock %}
</head>
<body>

    {% block maincontainer %}
    <div class="container">
        <div class="row">
            {% block container %}
            {% endblock %}
        </div>
    </div>
    {% endblock %}

    <div class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="/">Scheggia impazzita Giko</a>
                <div class="">
                    <ul class="nav">
                        <li class="{% if category == 'tchouk' %}active{% endif %}">
                            <a href="/blog/tchouk/">#tchouk</a>
                        </li>
                        <li class="{% if category == 'web' %}active{% endif %}">
                            <a href="/blog/web/">#web</a>
                        </li>
                    </ul>
                    <ul class="nav pull-right">
                        <li>
                            <a href="https://plus.google.com/100345869905743197656?rel=author" rel="tooltip" title="google+" data-placement="top"><img src="{{ STATIC_URL }}img/gplus.png" /></a>
                        </li>
                        <li>
                            <a href="http://it.linkedin.com/in/giacomozinetti" rel="tooltip" title="linkedin" data-placement="top"><img src="{{ STATIC_URL }}img/linkedin.png" /></a>
                        </li>
                        <li>
                            <a href="http://twitter.com/giko15" rel="tooltip" title="twitter" data-placement="top"><img src="{{ STATIC_URL }}img/twitter.png" /></a>
                        </li>
                        <li>
                            <a href="http://careers.stackoverflow.com/giacomozinetti" rel="tooltip" title="stackoverflow careers" data-placement="top"><img src="{{ STATIC_URL }}img/careers.png" /></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ STATIC_URL }}js/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/giko.js" type="text/javascript"></script>

    {% if ga_account %}{% include 'inc/ga.html' %}{% endif %}

    {% block extra_body %}{% endblock %}
</body>
</html>