{% extends 'base.html' %}


{% block container %}
    {% block post %}
        {% if posts %}
            {% for post in posts %}
            <article>
                <h2>
                    <a href="/article/{{ post.name }}/">{{ post.title|raw }}</a>
                </h2>
                <p>
                    {{ post.abstract|raw }}
                    <a href="/article/{{ post.name }}/">&rarr;</a>
                </p>
                {% if post.tags %}
                <p class="tags">
                    <small>
                        posted in
                        {% for tag in post.tags %}
                            <a href="/blog/t/{{ tag.slug }}/"><span class="label label-{{ tag.slug }}{% if filtertag == tag.slug %} label-active{% endif %}">{{ tag.name }}</span></a>{% if not loop.last %}, {% endif %}
                        {% endfor %}
                        on <date>{{ post.date }}</date>
                    </small>
                </p>
                {% endif %}
            </article>
            {% endfor %}
        {% else %}
            <div class="row">
                <div class="span8 offset1">
                    <p>
                        <strong>OPS!</strong> Nessun post trovato. Prova di nuovo
                    </p>
                    <p>
                        <form class="form-search" action="/{{ category }}/blog/s/">
                            <div class="input-append">
                                <input class="span5 search-query" type="text" placeholder="Cerca"{% if search %} value="{{ search }}"{% endif %} />
                                <button class="btn" type="submit"><i class="icon-search"></i></button>
                            </div>
                        </form>
                    </p>
                </div>
            </div>
        {% endif %}
    {% endblock %}
{% endblock %}
