{% extends 'base.html' %}




{% block container %}
    <p class="noprint download-cv">
        <a href="{{ STATIC_URL }}docs/zinetti-giacomo-cv.pdf">download as PDF &darr;</a>
    </p>

    <img class="profile" src="{{ STATIC_URL }}img/profilo.jpg" alt="Giacomo Zinetti Foto">
    <h2>Giacomo Zinetti <small class="noprint"><a href="mailto://giacomo.zinetti@giko.it">giacomo.zinetti@giko.it</a></small></h2>
    <p>
        I'm a frontend and backend developer.<br>
        In my free time I like to test<small>&amp;</small>try new technologies for web developers. I work also on many tchoukball websites and on open source projects.<br>
        To keep my mind sane I love to play TchoukBall.
    </p>

    <h3 class="print contacts">My contacts</h3>
    <p class="print contacts">
        I live in Lomazzo (Como), Italy<br>
        My mobile is +39 348 7649164<br>
        You can contact me writing at <a>giacomo.zinetti@giko.it</a><br>
        Or read something on my blog <a>www.giko.it</a>
    </p>

    <h2>Experience</h2>
    <h3>Web developer <small>at <a href="http://www.prodigys.it/">Prodigys Group srl</a> from March 2010</small></h3>
    <p>
        Frontend for many websites of Vodafone Italia with particular attention to crossbrowsing (ie6+) pixel perfect. Lots of administrative tools developed in PHP and Python.
    </p>
    <h3>Apprenticeship <small>at <a href="http://www.consoft.it/">Consoft Sistemi spa</a> from May to July 2008</small></h3>
    <p>
        Developer for a big J2EE Application.
    </p>

    <h2>Education</h2>
    <h3>Computer Engineering <small>at <a href="http://www.polimi.it/">Politecnico di Milano</a> from 2004 to 2009<br>
    (not completed for career opportunities)</small></h3>
    <h3>High school <small>at <a href="http://www.gbgrassi.it/">Liceo Scientifico G. B. Grassi</a> in Saronno from 1998 to 2003</small></h3>

    <h2>My free-time projects</h2>
    <dl>
        <dt><a href="http://www.tchoukball.it/">Federazione TchoukBall Italia</a> <small>since 2002</small></dt>
        <dd>Responsible of the web parts (frontsite, administrative tools, facebook, community) of the national tchoukball federation of this innovative sport.</dd>
        <dt><a href="http://www.saronnocomets.it/">Saronno TchoukBall Club</a> <small>since 2006</small></dt>
        <dd>The club where I play, the first tchoukball club of Italy.</dd>
        <dt><a href="http://www.youtchouk.com">YouTchouk</a> <small>since 2012</small></dt>
        <dd>Video portal for tchoukball.</dd>
        <dt><a href="http://giacomozinetti.github.com/site-by-site/">Site-by-Site</a> <small>since 2013</small></dt>
        <dd>Little script to compare and overlay two websites, useful to check css migrations.</dd>
        <dt><a href="http://www.tchouk.in/">Tchouk IN...</a> <small>since 2013</small></dt>
        <dd>Social World Map of "TchoukPoints".</dd>
    </dl>

    <p>
        Other projects on my <a href="https://github.com/giacomozinetti/">Github page</a>.
    </p>

    <h2>Tech Tags</h2>
    <ul class="tags">
        <li>jQuery</li>
        <li>HTML</li>
        <li>XHTML</li>
        <li>Javascript</li>
        <li>CSS</li>
        <li>CSS3</li>
        <li>Backbone.js</li>
        <li>Twitter Bootstrap</li>
        <li>Underscore.js</li>
        <li>Django</li>
        <li>Python</li>
        <li>PHP</li>
        <li>Silex</li>
        <li>Twig</li>
        <li>Apache</li>
        <li>Unix</li>
        <li>Git</li>
        <li>MySql</li>
        <li>Amazon Web Services</li>
        <li>Wordpress</li>
        <li>Google Maps API</li>
        <li>Twitter API</li>
        <li>Windows</li>
        <li>Photoshop</li>
        <li>Illustrator</li>
    </ul>

    <h2>Hobbies</h2>
    <p>
        Photography, juggle, drive (especially motorcycles), snowboard, boardgames and Mini4WD.
    </p>
{% endblock %}
