{% extends 'base.html' %}

{% block container %}
    <p class="noprint download-cv">
        <a href="{{ STATIC_URL }}docs/20130527-zinetti-giacomo-cv.pdf" download="zinetti-giacomo-cv.pdf">download as PDF &darr;</a>
    </p>

    <img class="profile" src="{{ STATIC_URL }}img/profilo.jpg" alt="Giacomo Zinetti Foto">
    <h2>Giacomo Zinetti <small class="noprint"><a href="mailto:giacomo.zinetti@giko.it">giacomo.zinetti@giko.it</a></small></h2>
    <p>
        Hello world! I'm a web developer born June 15, 1984.<br>
        My passion is web developing, building every day better websites with innovative user experience, cool graphic interface and using the latest technologies. I love working with a team of web enthusiasts with whom to share our experiences.<br>
    </p>

    <h3 class="print contacts">My contacts</h3>
    <p class="print contacts">
        I live in Lomazzo (Como), Italy<br>
        My mobile is +39 348 7649164<br>
        You can contact me writing at <a>giacomo.zinetti@giko.it</a><br>
        Or read something on my blog <a>www.giko.it</a>
    </p>

    <h2>Working experience</h2>
    <dl>
        <dt>Frontend developer <small>at <a href="http://www.sowre.com/">Sowre sa</a> from April 2013</small></dt>
        <dd>Theme developer for IBM WebSphere Portal</dd>
        <dt>Web developer <small>at <a href="http://www.prodigys.it/">Prodigys Group srl</a> from March 2010 to April 2013</small></dt>
        <dd>Frontend of many websites with particular attention to crossbrowsing (ie6+) pixel perfect and responsive web design for clients like Vodafone Italia, Allianz and UBH Real Estate. Lots of administrative tools developed in PHP and Python. Worked in team with <a href="http://riccardo.forina.me">Riccardo Forina</a> and <a href="http://www.tommasobagassi.com/">Tommaso Bagassi</a>.</dd>
        <dt>Apprenticeship <small>at <a href="http://www.consoft.it/">Consoft Sistemi spa</a> from May to July 2008</small></dt>
        <dd>Developer for a big J2EE Application.</dd>
    </dl>

    <h2>Education</h2>
    <dl>
        <dt>Computer Engineering <small>at <a href="http://www.polimi.it/">Politecnico di Milano</a> from 2004 to 2009</small></dt>
        <dd>not completed for career opportunities</dd>
        <dt>TOEFL certification <small>obtained on 5th May 2007</small></dt>
        <dt>High school <small>at <a href="http://www.gbgrassi.it/">Liceo Scientifico G. B. Grassi</a> in Saronno from 1998 to 2003</small></dt>
    </dl>

    <h2>My free-time projects</h2>
    <dl>
        <dt><a href="http://www.tchoukball.it/">Federazione TchoukBall Italia</a> <small>since 2002</small></dt>
        <dd>Responsible of the web parts (frontsite, administrative tools, facebook, community) of the national tchoukball federation of this innovative sport.</dd>
        <dt><a href="http://www.saronnocomets.it/">Saronno TchoukBall Club</a> <small>since 2006</small></dt>
        <dd>The club where I play, the first italian tchoukball club.</dd>
        <dt><a href="http://www.youtchouk.com">YouTchouk</a> <small>since 2012</small></dt>
        <dd>Video portal for tchoukball.</dd>
        <dt><a href="http://giacomozinetti.github.com/site-by-site/">Site-by-Site</a> <small>since 2013</small></dt>
        <dd>Little script to compare and overlay two websites, useful to check css migrations.</dd>
        <dt><a href="http://www.tchouk.in/">Tchouk IN...</a> <small>since 2013</small></dt>
        <dd>Social World Map of &quot;TchoukPoints&quot;.</dd>
    </dl>

    <p>
        Other projects on my <a href="https://github.com/giacomozinetti/">Github page</a>.
    </p>

    <h2>Tech Tags</h2>
    <ul class="tags">
        <li>HTML</li>
        <li>XHTML</li>
        <li>CSS</li>
        <li>CSS3</li>
        <li>Cross Browsing</li>
        <li>Media Queries</li>
        <li>Responsive</li>
        <li>Mobile first</li>
        <li>Javascript</li>
        <li>jQuery</li>
        <li>Backbone.js</li>
        <li>Underscore.js</li>
        <li>Twitter Bootstrap</li>
        <li>Python</li>
        <li>Django</li>
        <li>Flask</li>
        <li>PHP</li>
        <li>Silex</li>
        <li>Twig</li>
        <li>Wordpress</li>
        <li>MySql</li>
        <li>Apache</li>
        <li>Git</li>
        <li>Amazon Web Services</li>
        <li>Google Maps API</li>
        <li>Twitter API</li>
        <li>Instagram API</li>
        <li>User Experience</li>
        <li>Windows</li>
        <li>Mac OS X</li>
        <li>Unix</li>
        <li>Sublime Text</li>
        <li>Photoshop</li>
        <li>Illustrator</li>
    </ul>

    <h2>About me</h2>
    <p>
        I love to live our world not only through a monitor but also travelling, taking pictures, juggling, driving (especially motorcycles), snowboarding, playing boardgames and staying with friends.<br />
        I also play a new strange sport called <a href="http://www.tchoukball.org">TchoukBall</a>.
    </p>
{% endblock %}
