{% extends 'base.html' %}


{% block container %}
    <h2>Federazione TchoukBall Italia</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque architecto animi illo magni eos aliquam optio beatae modi impedit perspiciatis cum iure quo natus doloribus alias dicta consectetur quis exercitationem.</p>
    <h2>Saronno TchoukBall Club</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque architecto animi illo magni eos aliquam optio beatae modi impedit perspiciatis cum iure quo natus doloribus alias dicta consectetur quis exercitationem.</p>
    <h2>Tchouk IN...</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque architecto animi illo magni eos aliquam optio beatae modi impedit perspiciatis cum iure quo natus doloribus alias dicta consectetur quis exercitationem.</p>
    <h2>Site by Site</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque architecto animi illo magni eos aliquam optio beatae modi impedit perspiciatis cum iure quo natus doloribus alias dicta consectetur quis exercitationem.</p>
{% endblock %}
