body {
    font-family: 'Source Sans Pro', sans-serif;
    padding-top: 40px;
    padding-bottom: 80px;
    background-image: url(../img/bg.png);
}

@media (max-width: 979px) {
    body {
        padding-bottom: 0;
    }
}

.home {
    text-align: center;
}

#mainContent h1 a,
#mainContent h2 a,
a {
    color: #000;
}
a:hover {
    text-decoration: none;
}


.alignleft {
    float: left;
    margin: 0 10px 10px 0;
}
.alignright {
    float: right;
    margin: 0 0 10px 10px;
}

.twitter {
    background: url(../img/twitter.png) center top no-repeat;
    margin-top: 40px;
    color: #999;
}
.twitter date {
    display: block;
    color: #ccc;
}
.twitter p:before {
    content: '“';
}
.twitter p:after {
    content: '”';
}
.twitter date:before {
    content: '[';
}
.twitter date:after {
    content: ']';
}
.twitter p {
    padding: 60px 0 10px;
    font-size: 160%;
    line-height: 120%;
    font-style: italic;
}
.twitter a {
    color: #999;
}

.explainlink {
    white-space: nowrap;
}

#sidebar {
    text-align: center;
}
.navbar img {
    height: 20px;
}
.date {
    font-size: 22px;
    color: #ccc;
    padding: 0 10px;
    margin-top: 18px;
    border-right: 5px solid #333;
    text-align: right;
}
.tags {
    margin-bottom: 20px;
}
.navigator {
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
}


h1 .web,
.web a,
a.web,
.web a:hover,
a.web:hover {
    color: #03f;
}
#mainContent .web a:hover,
#mainContent a.web:hover {
    color: #00f;
}
.web .date {
    border-color: #03f;
}
.web .label-active,
.label.label-web {
    background-color: #03f;
}
.web *::selection {
    background: #f30;
    color: #fff;
}


h1 .tchouk,
.tchouk a,
a.tchouk,
.tchouk a:hover,
a.tchouk:hover {
    color: #f30;
}
#mainContent .tchouk a:hover,
#mainContent a.tchouk:hover {
    color: #f00;
}
.tchouk .date {
    border-color: #f30;
}
.tchouk .label-active,
.label.label-tchouk {
    background-color: #f30;
}
.tchouk *::selection {
    background: #03f;
    color: #fff;
}



#mainContent .row {
    margin-bottom: 40px;
}


