html,
body {
  background-image: radial-gradient(circle at center, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.5));
  background-color: #4A4A4A;
  font-size: 10px;
  margin: 0;
  padding: 0;
  color: #d40000;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
}

#logo {
  width: 60px;
  transition: all ease var(--animation-time);
  transform-origin: 49.6% 56.2%;
}

#logo path {
  transition: all ease var(--animation-time);
}

#wrapper {
  display: flex;
  width: 330px;
  height: 510px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  flex-direction: column;
  transition: all ease var(--animation-time);
  background: #2C2C2C;
  color: white;
  border-radius: 20px;
  box-shadow: 0 0 50px rgba(0,0,0,.5), -1px 1px 0 rgba(255, 255, 255, 0.3);
  overflow: hidden;
  position: relative;
  transform: rotate(-5deg);
  transition: transform ease 500ms;

  &:hover {
    transform: rotate(0) scale(1.05);
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
  }
}

.avatar {
  width: 100%;
  object-fit: cover;
  object-position: 50% 20%;
  height: 55%;
}

.content {
  flex-grow: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  
  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 160px;
    position: absolute;
    top: -80px;
    left: 0;
    background: linear-gradient(to top, transparent, #323232, transparent)
  }
}

h1, h2 {
  letter-spacing: 0.2em;  
  text-align: center;
  margin: 0;
  transition: all ease var(--animation-time);
}

h1 {
  font-size: 2.4rem;
  text-transform: uppercase;
}

h2 {
  font-size: 1.2rem;
  font-weight: normal;
  font-style: italic;
  margin-top: 5px;
}

.button {
  color: #fff;
  background: #d40000;
  border: 3px solid #d40000;
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin: 1rem 0 0;
  transition: all ease var(--animation-time);
  text-decoration: none;
}

.button:hover {
  background: #fff;
  color: #d40000;
}

#wrapper.active {
  box-shadow: 0 10px 50px 10px #eee;
  max-width: 840px;
  padding: 2rem;
}

#wrapper.active > h1,
#wrapper.active > h2,
#wrapper.active > .button {
  opacity: 0;
}

#wrapper.active > #logo {
  transform: rotate(360deg);
}

.css-wrap { fill: #0075B6 }
.js-wrap { fill: #E8A232 }
.html-wrap { fill: #E6522B }
