:root {
  --main-color: #d40000;
  --fg-color: #333;
}

body,
html {
  background-color: #fafafa;
  font-size: 10px;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  display: flex;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.3rem;
  justify-content: center;
  line-height: 2rem;
  min-height: 100vh;
}

header,
section {
  margin: 0 1rem;
}

h1 {
  color: var(--main-color);
  font-size: 2rem;
  line-height: 2.4rem;
  padding: 0.6rem 0;
}

h1, h2 {
  font-weight: normal;
  letter-spacing: 0.2em;
  margin: 2rem 0;
  text-align: center;
  text-transform: uppercase;
}

strong {
  line-height: 0;
}

svg {
  fill: currentColor;
  height: 1em;
  width: 1em;
}

.page {
  background-color: #fff;
  box-shadow: 0 10px 50px 10px #eee;
  box-sizing: border-box;
  display: grid;
  max-width: 84rem;
  padding: 1rem;
}

.me {
  text-align: center;

  &__avatar {
    margin: 2rem 0;
  }

  &__name {
    font-size: 2.8rem;
    line-height: 2.9rem;
  }
}

.avatar {
  background: var(--main-color);
  border-radius: 50%;
  color: white;
  display: inline-block;
  height: 18rem;
  line-height: 18rem;
  margin-top: 2rem;
  max-width: 18rem;
  vertical-align: bottom;
  width: 100%;
}

.title {
  align-items: center;
  color: currentColor;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  text-decoration: none;

  &--main {
    font-size: 2.4rem;
  }

  &__icon {
    font-size: 2rem;
    line-height: 2rem;
    opacity: 0;
    padding-top: 2px;
    transform: scale(0);

    &::before,
    &::after {
      transform: scaleX(0);
      content: '';
    }
  }
}

.works {
  list-style: none;
  margin: 0;
  padding: 0;
}

.work {
  margin-bottom: 2rem;

  &__title {
    text-transform: uppercase;
    letter-spacing: 0.15em;

    span {
      display: inline-block;
      margin-right: 0.4em;
    }

    a {
      display: inline-block;
      text-decoration: none;
    }
  }

  &__tech {
    display: inline-block;
  }

  &__logo {
    float: left;
    height: 4rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
    width: 4rem;
    background: var(--main-color);
  }
}
